{% extends "base.html.twig" %}
{% block body %}
    <div id="register_form" class="d-flex-center form-group-lg">
        {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'true', 'class': 'form-login'}}) }}

        <div class="form-group" role="group" aria-labelledby="username__BV_label_">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
        <div class="form-group" role="group" aria-labelledby="password_first__BV_label_">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="form-group" role="group" aria-labelledby="password_second__BV_label_">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/">Login</a>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}